@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;

  --color-muted: #9a9ba2;
  --color-background-dark: #121314;
  --color-surface-dark: #18191b;
  --color-accent: #6854ff;

  --background: #ffffff;
  --foreground: #111111;
}

/** {
  outline: 1px solid red;
}
*/

.dark {
  color-scheme: dark;

  --background: var(--color-background-dark);
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  transition:
    background-color 200ms ease,
    color 200ms ease;
}
